<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>강의 목록</title>
</head>
<body>
<div class="board_wrap">
    <h1 class="board_title">강의 목록</h1>
    <div class="board_list" th:each="lectList: ${lectList}">
        <div class="board_list_lec">
            <div class="board_list_lec_ccim_NO">
                <h2>[[${lectList.ccim_NO}]] 차시</h2>
                <div class="board_list_lec_ccim_NO_info">
                    <div class="board_list_lec_ccim_NO_info_ccim_title">
                        <a id="lecVideoModal" th:href="@{'/listenLec/lecVideo?ccim_NO=' + ${lectList.ccim_NO} +'&occ_NO=' + ${lectList.occ_NO}}">강의 제목: [[${lectList.ccim_title}]]</a>
                    </div>
                    <div class="board_list_lec_ccim_NO_info_ccim_content">
                        <a id="lecVideoModal2" th:href="@{'/listenLec/lecVideo?ccim_NO=' + ${lectList.ccim_NO} +'&occ_NO=' + ${lectList.occ_NO}}" th:utext="'강의 요약:' + ${lectList.ccim_content}"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>